{% extends 'base.html' %}
{% block title %}Главная - Сервис рассылок{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать в Сервис рассылок</h1>
        {% if user.is_authenticated and not user.is_verified %}
            <div class="alert alert-warning" role="alert">
                Ваш email не подтвержден. Для создания клиентов и рассылок необходимо подтвердить email.
                Пожалуйста, проверьте свою почту или <a href="{% url 'verify_email' %}">запросите новое письмо для подтверждения</a>.
            </div>
        {% endif %}
        <p class="lead">Эффективное управление email-рассылками для вашего бизнеса</p>
        <hr class="my-4">
        <p>Создавайте, планируйте и отслеживайте ваши email-кампании с легкостью.</p>
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg"
               href="{% url 'mailing_create' %}"
               role="button">Создать рассылку</a>
        {% else %}
            <p>Чтобы начать пользоваться сервисом, пожалуйста, войдите или зарегистрируйтесь.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
            <a class="btn btn-secondary btn-lg"
               href="{% url 'register' %}"
               role="button">Регистрация</a>
        {% endif %}
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <h2>Клиенты</h2>
            <p>Управляйте вашей базой клиентов, добавляйте новых и организуйте их по группам.</p>
            <a class="btn btn-secondary"
               href="{% url 'client_list' %}"
               role="button">Просмотр клиентов »</a>
        </div>
        <div class="col-md-4">
            <h2>Рассылки</h2>
            <p>Создавайте и настраивайте рассылки, выбирайте получателей и планируйте отправку.</p>
            <a class="btn btn-secondary"
               href="{% url 'mailing_list' %}"
               role="button">Управление рассылками »</a>
        </div>
        <div class="col-md-4">
            <h2>Сообщения</h2>
            <p>Создавайте шаблоны сообщений для использования в ваших рассылках.</p>
            <a class="btn btn-secondary"
               href="{% url 'message_list' %}"
               role="button">Просмотр сообщений »</a>
        </div>
    </div>
{% endblock %}
