<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список сообщений</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Список сообщений</h1>
        <a href="{% url 'message_create' %}" class="btn btn-primary mb-3">Добавить сообщение</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Тема</th>
                    <th>Тело</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.body }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>